.Table {
    display: flex;
    flex-direction: column;
    table {
        width: 100%;
        margin: 10px 0;
        text-align: center;
        border-collapse: collapse;
        th {
            font-family: inherit;
            font-weight: 500;
        }
        th, td {
            height: 2rem;
            border-bottom: 1px solid var(--dark-lighter);
            border-collapse: collapse;
        }
    }
}
.Polygon {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    .title {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    h2 {
        color: var(--dark-darker);
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }
}
